.DS_Store
.Rproj.user
*.aux
*.fls
*.dvi
*.nav
*.out
*.gz
*.toc
*.log
*.vrb
*.snm
*.fdb_latexmk
.Rhistory
.latex.json
beamer.cls
*.pdf
*.bbl
*.blg
lectureDraftArchives/
lecture_1_classroom_survey.csv
lecture_1_survey_data_clean.csv